
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="row" data-sticky_parent="">
    <div class="col-lg-8 content-wrapper">
        <div class="posts-box3 archive-box">
            <div class="posts-box3__top">
                <h2 class="posts-box3__top__title">Latest audios: </h2>
            </div>

            <div class="archive-posts">
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16742.html">South Korean ‘Smart Farm’ Built Inside Former Road Tunnel</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 9
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:02
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>2 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16718.html">Study: For Some, Daily Aspirin May Do More Harm Than Good</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 11
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:06
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>4 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16708.html">Lets.Recycle [bqh009]</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 12
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>0:08
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>7 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16707.html">A.Picnic.By.The.River [bqh009]</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 12
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>1:01
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>7 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16690.html">Underwater Robot to Hunt Lionfish to Help Protect Coral Reefs</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 9
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:10
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>9 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16685.html">The single mum who can&#39;t afford to work - BBC Stories</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star"></i>level = 18
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:00
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>10 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16681.html">New Blood Test Finds Deadly Skin Cancer</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 9
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:04
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>11 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16680.html">Simen Sineck (8th week)</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star"></i>level = 18
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>1:50
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>11 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16677.html">Scientists Say Hotter Weather Worsens Wildfire in Western US</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 11
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>2:03
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>12 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
                <article class="post-item">
                    <div class="post-content">
                        <div class="post-meta">
                            <h6 class="post-title">
                                <a href="choose/16674.html">Americans Spending and Doing More for Their Pets</a>
                            </h6>
                            <div class="item">
                            </div>
                            <div class="item">
                                <i class="fa fa-star-half-o"></i>level = 9
                            </div>
                            <div class="item">
                                <i class="fa fa-hourglass-o"></i>1:25
                            </div>
                            <div class="item">
                                <time><i class="fa fa-clock-o"></i>13 days ago</time>
                            </div>
                        </div>
                    </div>
                </article>
                <hr />
            </div><!--//.posts-list -->
            <nav class="pagination" role="navigation" aria-label="pager">


                <span class="page current">
                    1
                </span>
                <span class="page">
                    <a rel="next" href="level4658.html?page=2">2</a>
                </span>
                <span class="page">
                    <a href="level9ba9.html?page=3">3</a>
                </span>
                <span class="page">
                    <a href="levelfdb0.html?page=4">4</a>
                </span>
                <span class="page">
                    <a href="levelaf4d.html?page=5">5</a>
                </span>
                <span class="page gap">&hellip;</span>
                <span class="next">
                    <a rel="next" href="level4658.html?page=2">Next &rsaquo;</a>
                </span>
                <span class="last">
                    <a href="levelaa9e.html?page=287">Last &raquo;</a>
                </span>
            </nav>
        </div> <!--//.posts-box  -->
    </div>
    <div class="col-lg-4 sidebar sidebar--right u-md-down-margin-t-40">
        <div class="sidebar__inner" data-sticky_column="">
            <div class="widget widget--transparent-box img-banner">
                <figure>
                    <div class="m-post-content m-post-content--nyc">
                        <b>Levels</b>
                        <div class="post-tags">
                            <div class="tags-wrap">
                                <a style="font-size: 80%;" href="level/23.html">23</a>
                                <a style="font-size: 80%;" href="level/22.html">22</a>
                                <a style="font-size: 80%;" href="level/21.html">21</a>
                                <a style="font-size: 80%;" href="level/20.html">20</a>
                                <a style="font-size: 80%;" href="level/19.html">19</a>
                                <a style="font-size: 80%;" href="level/18.html">18</a>
                                <a style="font-size: 80%;" href="level/17.html">17</a>
                                <a style="font-size: 80%;" href="level/16.html">16</a>
                                <a style="font-size: 80%;" href="level/15.html">15</a>
                                <a style="font-size: 80%;" href="level/14.html">14</a>
                                <a style="font-size: 80%;" href="level/13.html">13</a>
                                <a style="font-size: 80%;" href="level/12.html">12</a>
                                <a style="font-size: 80%;" href="level/11.html">11</a>
                                <a style="font-size: 80%;" href="level/10.html">10</a>
                                <a style="font-size: 80%;" href="level/9.html">9</a>
                                <a style="font-size: 80%;" href="level/8.html">8</a>
                                <a style="font-size: 80%;" href="level/7.html">7</a>
                                <a style="font-size: 80%;" href="level/6.html">6</a>
                                <a style="font-size: 80%;" href="level/5.html">5</a>
                                <a style="font-size: 80%;" href="level/4.html">4</a>
                                <a style="font-size: 80%;" href="level/3.html">3</a>
                                <a style="font-size: 80%;" href="level/2.html">2</a>
                                <a style="font-size: 80%;" href="level/1.html">1</a>
                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="widget widget--transparent-box img-banner">
                <figure>
                    <script async src="~/Assets/Client/pagead2.googlesyndication.com/pagead/js/f.txt"></script>
                    <!-- index middle text only -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:234px;height:60px"
                         data-ad-client="ca-pub-0119806589085646"
                         data-ad-slot="2273830705"></ins>
                    <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </figure>
            </div>

        </div>
    </div>
</div>
